extends layout

block body
  nav.navbar.navbar-default
  div.container
    h1 About us
    h2 Welcome to Global Corporate Venturing Analytics
    p.
      Global Corporate Venturing Analytics provides products and services to address the unique data needs of corporate venture teams as they strive to develop insights and make more informed, data-driven decisions.
    p.
      ...more content here...
    p.
      ...more content here...

    h2.
      Licenses
    p.
      Subscribers can gain access to data published by Global Corporate Venturing through an interactive web application that provides powerfully flexible analysis capabilities.
    br
    br
    p
      span Don't have an account?
      span &nbsp;
      a(href="/contact") Contact Us
    p
    | Tim Lafferty
    br
    |  General Manager
    br
    a(href='mailto:tlafferty@mawsonia.com') jmawson@mawsonia.com
    br
    |  +44 (0) 7971 655590

    include footer.jade
    div &nbsp;
    div &nbsp;
