extends layout

block body
  .container-fluid
    .row
      .col-md-7
        img.img-responsive.img-rounded(src='images/geoactivity.png', alt='')
      .col-md-5
        h2 Acivity by Geography
        p.medium
          | Geo activity description
    .row
      br
    .row
      .col-md-5
        h2 Deal Counts
        p.medium
          | deal counts description
      .col-md-7
        img.img-responsive.img-rounded(src='images/dealcount.png', alt='')
    .row
      br
    .row
      .col-md-7
        img.img-responsive.img-rounded(src='images/export_highlight.png', alt='')
      .col-md-5
        h2 Export Data
        p.medium
          | export description
    .row
      br
    .row
      .col-md-5
        h2 Round Analysis
        p.medium
          | round analysis description
      .col-md-7
        img.img-responsive.img-rounded(src='images/roundsize.png', alt='')
    .row
      br
    .row
      .col-md-7
        img.img-responsive.img-rounded(src='images/search.png', alt='')
      .col-md-5
        h2 Powerful Search Capabilities
        p.medium
          | search description

  include footer.jade

  div &nbsp;
  div &nbsp;
