footer
  .row
    .col-md-12
      .text-center
        style(type='text/css').
          small {
            opacity: 0.7;
          }
        small Copyright © Global Corporate Venturing Analytics 2015
