extends layout

block body
  .container-fluid
    .row
      .col-md-8
        img.img-responsive.img-rounded(src='images/landing-page_900x350.png', alt='')
      .col-md-4
        h1 Insights as a Service
        h3 Mind the Gap
        p
          | Subscription services targeted at the venture capital and private equity markets are plentiful and are typically
          | excellent sources of investment data and exit information.
        p
          | Unfortunately, most services still require users to perform numerous manual steps to turn raw data into meaningful
          | insights that relate to their own context or can be compared to internal information. The challenge is compounded
          | by today’s proliferation of generic third-party sources that do not address the unique needs of Corporate Venture
          | users and lack data outside the USA.
        a.btn.btn-primary(href='/contact') Learn More
        br
        // p
        // br
        //p
        //p Already a subscriber?
        //p
        //  a.btn.btn-primary(href="/login") Login now
      // /.col-md-4
    // /.row
    hr
    // Call to Action Well
    .row
      .col-lg-12
        .well.text-center
          | This is a well that is a great spot for a business tagline or phone number for easy access!
      // /.col-lg-12
    // /.row
    // Content Row
    .row
      .col-md-4
        h2 Overview
        p
          | Global Corporate Venturing Analytics addresses the gaps found in similar offerings and delivers corporate venture teams the data and tools
          | they need to develop the insights and data-driven decisions. We provide data and insights for Corporate Ventures, Private Equity and
          | Venture Capitalists through a self-service analytics platform that enables you to get what you need, when you need it.
        a.btn.btn-default(href='#') More Info
      // /.col-md-4
      .col-md-4
        h2 Powerful Features
        p
          | With powerful search and data analytics capabilities, our platform enables users to find emerging trends by sector or geography and
          | easily identify disruptive technologies and products. We also enable you to benchmark your investment results and track company goals against
          | the entire industry.
        a.btn.btn-default(href='#') More Info
      // /.col-md-4
      .col-md-4
        h2 Data Sources
        p
          | Our analytics are powered by more than 5 years of Corporate Venture Capital investment activity gathered by Global Corporate Venturing,
          | a trusted industry leader and kept current using state-of-the-art data gathering technology. In addition, we augment the quantitative
          | data with qualitative insights from strategic industry surveys and access to top experts in a variety of industries.
        a.btn.btn-default(href='#') More Info
      // /.col-md-4
    // /.row


  div &nbsp;
  div &nbsp;
