extends layout

block body
  .container-fluid
    .row
      .col-md-8
        img.img-responsive.img-rounded(src='images/landing-page_900x350.png', alt='')
      .col-md-4
        h1 Insights as a Service
        p.medium
          | Global Corporate Venturing Analytics addresses the gaps found in traditional, broadly marketed data products to delivers corporate venture teams the data and tools they need to develop the insights and data-driven decisions. We provide data and insights for Corporate Venturers, Private Equity Firms and Venture Capitalists through a self-service analytics platform that enables you to get what you need, when you need it.
        br
        // p
        // br
        //p
        //p Already a subscriber?
        //p
        //  a.btn.btn-primary(href="/login") Login now
      // /.col-md-4
    // /.row
    hr
    // Call to Action Well
    .row
      .col-lg-12
        .well.text-center
          | Self-service analytics to create meaningful insights and benchmark your venture funds.
      // /.col-lg-12
    // /.row
    // Content Row
    .row
      .col-md-4
        h2.text-center Mind the Gap
        p
          | Data services targeted at the venture capital and private equity markets are plentiful and are typically excellent sources of investment data and exit information. Unfortunately, they also require users to perform numerous manual steps to turn raw data into meaningful insights that relate to their own context.
      // /.col-md-4
      .col-md-4
        h2.text-center Powerful Features
        p
          | With powerful search and data analytics capabilities, our platform enables users to find emerging trends by sector or geography and
          | easily identify disruptive technologies and products. We also enable you to benchmark your investment results and track company goals against
          | the entire industry.
      // /.col-md-4
      .col-md-4
        h2.text-center Data Sources
        p
          | Our analytics are powered by more than 5 years of Corporate Venture Capital investment activity data, kept current using state-of-the-art data gathering technology. It is augmented with quantitative data with qualitative insights from strategic industry surveys and access to top experts in a variety of industries.
      // /.col-md-4
    // /.row
    .row
      .col-md-2.col-md-offset-5
        a.btn.btn-primary.center-block(href='/use_cases') More Info
  include footer.jade

  div &nbsp;
  div &nbsp;
